@import '../../common.styl'

.tag
    height 36px
    padding 0 12px
    border-radius 8px
    background $primary
    color white
    font-size 14px
    display flex
    justify-content center
    align-items center
    text-align center
    vertical-align center

    &.green
        background alpha(#7CE7AC, 15%)
        color darken($green, 20%)
        font-weight 500

    &.blue
        background alpha($primary, 15%)
        color $primary
        font-weight 500

    &.grey
        background #F5F5FA
        color $primary-grey
        font-weight 500

    &.red
        background alpha(#FF808B, 10%)
        color $red
        font-weight 500