@import '../../../common.styl'

.screen
  width 100%

.orders
  display flex
  flex-direction column
  padding 24px 14px
  gap 48px






.pagination
  display flex
  justify-content center
  padding-bottom 50px
  gap 20px

.page
  display flex
  align-items center