@import '../../../../../common.styl'

.container
  min-height 64px
  display flex
  gap 20px 
.mainInfo
  display flex
  flex-direction column
  flex 1 0 200px;
  gap 14px
  background-color white
  padding 16px
  border-radius 10px
  max-width: 200px
  box-shadow 2px 2px 8px rgba(214, 211, 211, 0.541) 

.items
  width 100%
  box-shadow 2px 2px 8px rgba(214, 211, 211, 0.541) 
  background-color white
  padding 16px
  border-radius 10px
  display flex
  gap 20px

.orderNumber
  font-weight 500
  color $primary-dark